:root {
  --heading-font: "Syne", sans-serif;
  font-style: normal;
  font-weight: 800;
  --primary-color: rgba(171, 37, 69, 1);
  --secondary-color: rgba(240, 240, 240, 1);
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.navbar-collapse {
  display: flex;
  justify-content: end;
}

.nav-item {
  margin: 0 20px 0 20px;
}

.navbar-nav .navbar-home {
  color: var(--primary-color) !important;
}

.navbar-name {
  font-family: var(--heading-font) !important;
}

.heading-section {
  background-color: var(--secondary-color);
}

.heading-section {
  text-align: center;
  padding: 30px;
}
.introduction {
  padding-top: 120px;
  font-weight: 600;
}

.introdution-name {
  font-size: 90px;
}

.introdution-name,
.introdution-name-about {
  font-family: var(--heading-font);
  padding: 20px 0 5px 0;
  color: var(--primary-color);
}

.introdution-name-about {
  font-size: 50px;
}

.introduction-buttons {
  display: flex;
  justify-content: center;
  margin: 90px;
}

.projects-button,
.contact-button {
  border-radius: 14px;
  border: 1px solid var(--primary-color);
  margin: 30px;
}

.projects-button,
.contact-button,
.contact-button-footer {
  padding: 10px 30px 10px 30px;
  font-weight: 600;
}

.projects-button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.contact-button {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.project-site-note {
  margin: 70px 0 40px 0;
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
}

.project-heading {
  font-family: var(--heading-font);
  color: var(--primary-color);
  font-size: 40px;
  font-weight: 700;
}

.row {
  margin: 80px;
}

p.project-description {
  margin: 20px 20px 40px 0;
  line-height: 2em;
}

.view-details-button {
  padding: 10px 30px 10px 30px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-weight: 400;
}

.work-inquiry {
  background-color: var(--secondary-color);
  padding: 20px 20px 20px 40px;
  margin: 0 150px;
  border-radius: 4px;
}

.contact-button-footer {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  margin: 20px;
  border: none;
  border-radius: 3px;
  width: 250px;
}

.contact-details-footer {
  margin: 60px;
  text-align: center;
}

a:link {
  font-weight: 400;
  color: black;
}
